<div class="mainwraplogin">

<p class="sign" align="center">Login</p>

<form action="/auth/login" method="POST">
      <input class="un" type="text" name="username" placeholder="Your Username" >
      <input class="un" type="password" name="password" placeholder="Your Password">

   <button class="loginbtn" type="submit">Login</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}

</div>