<form action="/auth/login" method="POST">
   
<h2 class='title'>Log In</h2>

   <label> Username: 
      <input type="text" name="username" placeholder="Your Username">
   </label>
   <br />


   <label> Password: 
      <input type="password" name="password" placeholder="You Password">
   </label>
   <br />

   <button class="button" type="submit">Log In</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}

