<h2>Delete account</h2>

<p> 
By deleting your account, you will no longer be able to sign in, your activity will be removed from Watchlist Movie and your username might be claimed by another user. 
</p>

<form method="post" action="/settings/delete-account">
    
  <label> Confirm your Password
    <input
      type="password"
      name="password"
      placeholder="Password"
      
    />
  </label>
  <br />



  <button type="submit">Delete my account</button>

    {{#if sucessMessage}} 
         <div>{{sucessMessage}}</div>
      {{/if}}
</form>