<h1>Account Settings</h1>


<ul>
    <li>
        <a href="/settings/update-user">Change your usarname and email. Click here.</a>
    </li>

    <li>
        <a href="/settings/update-password">Change your password. Click here.</a>
    </li>

    <li>
        <a href="/settings/delete-account">Delete your account. Click here.</a>
    </li>

</ul>