<h1>Account Settings</h1>

<div> You current username is
    {{username}}
</div>

<div> You current email is
    {{email}}
</div>

<ul>
    <li>
        <a href="/settings/update-user">Fell like updating your settings? Click Here.</a>
    </li>
</ul>