<div class="mainwrap_delete_user">
<p class="sign" align="center">Account Settings</p>

{{!-- <div> You current username is
    {{./user.username}}
</div>

<div> You current email is
    {{user.email}}
</div> --}}

<ul class="list_style">
    <li>
        <a class="buttons_account_settings" href="/settings/update-user">Update your settings</a>
    </li>

    <li>
        <a class="buttons_account_settings" href="/settings/update-password">Change your password</a>
    </li>

        <li>
        <a class="buttons_account_settings" href="/settings/delete-account">Delete your account</a>
    </li>

</ul>
</div>
