<h1>Account Settings</h1>

<div> You current username is
    {{./user.username}}
</div>

<div> You current email is
    {{user.email}}
</div>

<ul>
    <li>
        <a href="/settings/update-user">Fell like updating your settings? Click Here.</a>
    </li>

    <li>
        <a href="/settings/update-password">Change your password? Click Here.</a>
    </li>

</ul>
