<h2>Update user</h2>

{{! update username, update email }}
<form method="post" action="/settings/update-user">
    
  <label>Username
    <input
      type="text"
      name="username"
      placeholder="Username"
      value="{{user.username}}"
    />
  </label>
  <br />

  <label>Email
    <input
      type="text"
      name="email"
      placeholder="Email"
      value="{{user.email}}"
    />
  </label>
  <br />


  <button type="submit">Save Your Changes</button>

</form>