<h2>Update Password</h2>

{{! update username, update email }}
<form method="post" action="/settings/update-password">
    
  <label>Current Password
    <input
      type="password"
      name="currentPassword"
      placeholder="Current Password"
    />
   
  </label>
  <br />

  <label>New Password
    <input
      type="password"
      name="newPassword"
      placeholder="New Password"
      
    />
   
  </label>
  <br />

    <label>Confirm Your New Password
    <input
      type="password"
      name="confirmNewPassword"
      placeholder="Confirm New Password"
      
    />
  </label>
    
    {{#if errorPassword}} 
         <div>{{errorPassword}}</div>
      {{/if}}
  <br />


  <button type="submit">Save Your Changes</button>

  {{#if sucessMessage}} 
         <div>{{sucessMessage}}</div>
      {{/if}}

</form>