<div class="mainwrap_update_password">

<p class="sign" align="center">Update Password</p>

{{! update username, update email }}
<form method="post" action="/settings/update-password">
    
  <label>Current Password
    <input
      type="password"
      name="currentPassword"
      placeholder="Current Password"
    />
   
  </label>
  <br />

  <label>New Password
    <input
      type="password"
      name="newPassword"
      placeholder="New Password"
      
    />
   
  </label>
  <br />

    <label>Confirm Your New Password
    <input
      type="password"
      name="confirmNewPassword"
      placeholder="Confirm New Password"
      
    />
  </label>
    
    {{#if errorPassword}} 
         <div>{{errorPassword}}</div>
      {{/if}}
  <br />


  <button class="update_password_btn" type="submit">Update Your Password</button>

  {{#if sucessMessage}} 
         <div>{{sucessMessage}}</div>
      {{/if}}

</form>
