<div class="mainwrap_update_user">

<p class="sign" align="center">Update Login</p>

{{! update username, update email }}
<form method="post" action="/settings/update-user">
    
    <input
      class="un"
      type="text"
      name="username"
      placeholder="Username"
      value="{{user.username}}"
    />

    <input
    class="un"
    type="text"
    name="email"
    placeholder="Email"
    value="{{user.email}}"
    />


  <button class="update_user_btn" type="submit">Save Your Changes</button>

</form>
</div>
ds