<div class="mainwrap_update_password">

<p class="sign" align="center">Update Password</p>

{{! update username, update email }}
<form method="post" action="/settings/update-password">
    
    <input
    class="un"
    type="password"
    name="currentPassword"
    placeholder="Current Password"
    />

    <input
    class="un"
    type="password"
    name="newPassword"
    placeholder="New Password" 
    />

    <input
    class="un"
    type="password"
    name="confirmNewPassword"
    placeholder="Confirm New Password"  
    />



  <button class="update_password_btn" type="submit">Update Your Password</button>

</form>

</div>