<div class="mainwrap_update_user">

<p class="sign" align="center">Update Login</p>

{{! update username, update email }}
<form method="post" action="/settings/update-user">
    
    <input
      class="un"
      type="text"
      name="username"
      placeholder="Username"
      value="{{user.username}}"
    />
    {{#if usernameError}} 
         <div>{{usernameError}}</div>
      {{/if}}


    <input
    class="un"
    type="text"
    name="email"
    placeholder="Email"
    value="{{user.email}}"
    />


  <button class="update_user_btn" type="submit">Save Your Changes</button>

  {{#if sucessMessage}} 
         <div>{{sucessMessage}}</div>
      {{/if}}

</form>
</div>

