    
{{!-- SEARCH INPUT FIELD   --}}
    
    <header>
        <form action="/api/result" method="GET">
            <input type="text" placeholder="Search for movies" name="search" class="search">
        </form>
        </header>

{{!-- PROJECT HEADING (can be deleted) --}}
<h1>{{appTitle}} 🚀</h1>
<p>Welcome Ironhacker!</p>