{{!-- <h1>{{appTitle}} 🎬 </h1>
<p>Welcome </p> --}}

<h2>Search for movies, actors and directors</h2>
<form action="/result" method="GET" class="justify-content-center d-flex">
                    <input type="text" name="search" class="form-control w-25 bg-dark text-white" value="">
                    <input type="submit">