<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div class="nav-container">
      <nav>
        <ul class="nav-links">
          {{!--  If there is a user I want to display your personal-user-page --}}
          {{!-- If there is no user I want to display Login and Create Account --}}
          <li>
            <a href="/auth/login">Log In</a>
          </li>
          <li>
            <a href=""></a>
          </li>
          
          
          
          {{!-- {{#if isLoggedIn}}
          <li>
            <a href="/"></a>
          </li>

          {{/if}} --}}
        </ul>
      </nav>
    </div>


    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>