<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <header>
    <div class="nav-container">
         <nav>
           <ul class="nav-links">
             <li>
             <a href="/">HOME</a>
             </li>
              {{#if isLoggedIn}}
                <li>
                  <a href="/watchlist">My Watchlist</a>
                </li>
                <li>
                  <a href="/auth/logout"> Logout</a>
                </li>
                 {{else}}
                <li>
                  <a href="/auth/login">LOG IN</a>
                </li>
                <li>
                  <a href="/auth/signup"> CREATE ACCOUNT</a>
                </li>
              {{/if}}
              </ul>   

              <form action="/api/result" method="GET">
              <input type="text" placeholder="Search for movies" name="search" class="search">
              </form>
          </nav>
    </div>
  </header>

  {{!-- {{#if isLoggedIn}}
    <h1>Hello, {{user.username}}! </h1>
{{/if}} --}}

    {{{body}}}
    <div class="footer">
    <footer>Movies Watchlist | 2022 - Made by Daiane Reina and Nico Schmock - Film Data from <a href="https://www.themoviedb.org/">TMDb</a>  </footer>
    </div>
    <script src="/js/script.js"></script>
  </body>

</html>




