<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Movies Watchlist</title>
    <link rel="shortcut icon" href="/images/icon-movie_wachtlist.png">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  </head>

  <body>

    <div class="nav-container">
      <nav>
        <a href="/">
          <img src="/images/moviesWatchlist-logo.png" alt="logo">
        </a>
          
        
        <ul class="nav-links">
          {{!--  If there is a user I want to display your personal-user-page --}}
          {{!-- If there is no user I want to display Login and Create Account --}}

          {{#if isLoggedIn}} 
          <li>
            <a href="/auth/logout"></a>
          </li>

          {{else}}
          <li>
            <a href="/auth/login">LOG IN</a>
          </li>
          <li>
            <a href="/auth/signup"> CREAT ACCOUNT</a>
          </li>
          
          {{/if}}
            
        </ul>
      </nav>
    </div>

    


    <main class="container">{{{body}}}</main>
    <footer>&copy; Movies Watchlist | 2022</footer>
    <script src="/js/script.js"></script>
  </body>

</html>