    
<h2>Found {{data.total_results}} films matching "{{querySearch}} "</h2>

<br>

<main id="main">
{{#each data.results}}




{{!-- MOVIE POSTER --}}
<div>

<div class="movie">
<img src="https://image.tmdb.org/t/p/w500{{poster_path}}">
</div>



{{!-- TITLE MOVIE --}}
<div class="movie-info">
<h3>{{original_title}}</h3>
</div>
</div>

{{/each}}
</main>