<main id="main">
{{#each allFilms }}

{{!-- MOVIE POSTER --}}
<div class="moviewatchlist">



{{!-- DELETE BUTTON --}}
<div class="containerimg">
<img src="https://image.tmdb.org/t/p/w500{{this.poster_path}}">

<form method="get" action="/watchlist/delete">
<input type="hidden" value="{{this._id}}" name="id"/>
<button class="semi-transparent-remove-button" type="submit">Delete</button>
</form>
</div> 

{{!-- TITLE MOVIE --}}
<div class="movie-info">
<h9>{{this.title}}</h9>
</div class="movie-info">

</div class="movie">

{{/each}}
</main>
