<main id="main">
{{#each allFilms }}

{{!-- MOVIE POSTER --}}
<div class="moviewatchlist">
<img src="https://image.tmdb.org/t/p/w500{{this.poster_path}}">


{{!-- TITLE MOVIE --}}
<div class="movie-info">
<h9>{{this.title}}</h9>
</div class="movie-info">

</div class="movie">

{{/each}}
</main>
