<main id="main">
{{#each allFilms }}

{{!-- MOVIE POSTER --}}
<div class="moviewatchlist">

<div class="containerimg">
<img src="https://image.tmdb.org/t/p/w500{{this.poster_path}}">
<button class="semi-transparent-button">Remove</button>
</div> 


{{!-- TITLE MOVIE --}}
<div class="movie-info">
<h9>{{this.title}}</h9>
</div class="movie-info">

</div class="movie">

{{/each}}
</main>
