*{
    box-sizing: border-box;
    color: var(--text-color);
    
  }
  
  :root{
    --primary-color:#1E252C;
    --secondary-color: #14181C;
    --text-color: #ced7e0;
    --text-color2:#FBC50C;
    
  }
/* line 52 */
  .nav-links a:hover {
    text-decoration: none;
    color: var(--text-color2);
  }
/* line 62 */
  .nav-links a:after {
    border-radius: 1em;
    border-top: .1em solid  var(--text-color2);
    content: "";
    position: absolute;
      right: 100%;
      bottom: -0.7em;
      left: 0;
    transition: right .4s cubic-bezier(0,.5,0,1);
  }

  /* SEARCH BAR  -  change the color line 117*/
  .search{
    background-color: transparent;
    border: 2px solid var(--primary-color);
    padding:0.5rem 1rem;
    border-radius: 50px;
    font-size: 1rem;
    color: var(--text-color2);
    font-family: inherit;
  }
/* line 166  */
  .overview{
    color:var(--text-color);
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    background-color: var(--secondary-color);
    padding: 1rem;
    max-height: 100%;
    transform:translateY(101%);
    transition:transform 0.3s ease-in;
  }

  header{
    padding:1rem;
    /* display:flex;
    justify-content: flex-end; */
    background-color: var(--secondary-color);
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding-bottom: 20px; */
  }