/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
} */

*{
    box-sizing: border-box;
}

:root{
    --primary-color:#22254b;
    --secondary-color: #373b69;
}

body{
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


header{
  padding:0.5rem;
  display:flex;
  justify-content: space-between;
  background-color: var(--secondary-color);
}

.footer {
  position:fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--secondary-color);
  color: white;
  text-align: center;
}


.link-tmdb, .link-tmdb:hover, .link-tmdb:focus, .link-tmdb:active {
  text-decoration: none;
  color: inherit;
  }

/* Navbar */
.nav-links a {
    color: white;
    text-decoration: none;
    margin: 10px;
    
  }
  
.nav-links a:hover {
    text-decoration: none;
    color: white;
  }
  
  .nav-links a {
    text-decoration: none;
    position: relative;
  }
  
  .nav-links a:after {
    border-radius: 1em;
    border-top: .1em solid  white;
    content: "";
    position: absolute;
      right: 100%;
      bottom: -0.7em;
      left: 0;
    transition: right .4s cubic-bezier(0,.5,0,1);
  }
  
  .nav-links a:hover:after {
    right: 0;
  }
  
  
  
  .nav-links {
    list-style: none;
    }
  
    ul.nav-links {
      display: flex;
    }
  
  nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      }
  
      nav img {
        width: 250px;
      }
      .nav-img {
        width: 250px;
      }
  
      
      footer {
        text-align: center;
        background-color: var(--primary-bg-color);
        padding: 1rem;
      }
      .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
      }


/*##########  RESULTS PAGE #############*/

/* SEARCH BAR  */
.search{
    background-color: transparent;
    border: 2px solid var(--primary-color);
    padding:0.5rem 1rem;
    border-radius: 50px;
    font-size: 1rem;
    color:#fff;
    font-family: inherit;
}

.search:focus{
    outline:0;
    background-color: var(--primary-color);
}

.search::placeholder{
    color: #7378c5;
}

main{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
}


/* MOVIE POSTER */
.movie {
    width: 300px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
    background-color: var(--secondary-color);
    position:relative;
    overflow: hidden;
}


.movie img{
    width:100%;
}

/* MOVIE TITLE */
.movie-info{
    color:#eee;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3{
    margin-top: 0;
}

/* Overview Hover */
.overview{
    color:var(--secondary-color);
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    background-color: white;
    padding: 1rem;
    max-height: 100%;
    transform:translateY(101%);
    transition:transform 0.3s ease-in;
}

.movie:hover .overview{
    transform:translateY(0);
    background-color: white;
}

/*###################### WATCHLIST/WATCHED ##################################*/

.moviewatchlist {
  width: 150px;
  margin: 0.5rem;
  border-radius: 3px;
  box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
  background-color: var(--secondary-color);
  position:relative;
  overflow: hidden;
}

.moviewatchlist img{
  width:100%;
}

/* GLOBAL BUTTON STYLING */
.buttono {
  backface-visibility: hidden;
  background: var(--primary-color);
  border: 0;
  border-radius: .375rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: 1rem 1.25rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 0.2cm;
}

.buttono:disabled {
  color: #787878;
  cursor: auto;
}

.buttono:not(:disabled):hover {
  transform: scale(1.05);
}

.buttono:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.buttono:focus {
  outline: 0 solid transparent;
}

.buttono:focus:before {
  border-width: .125rem;
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.buttono:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.buttono:not(:disabled):active {
  transform: translateY(.125rem);
}

.button-group {
  display: flex;
}

.semi-transparent-remove-button {
  border-radius: 100px;
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 9px;
  width: 80%;
  max-width: 200px;
  background: rgba(178, 177, 213, 0.5);
  color: #fff;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.3s ease-out;
}

/* Hover FX */
.containerimg:before {
  content:"";
  position:absolute;
  width:100%;
  height:100%;
  top:0;left:0;right:0;
  background-color:rgba(0,0,0,0);
  }
  .containerimg:hover::before {
  background-color:rgba(0,0,0,0.5);
  }
  .containerimg img {
  display:block;
  }
  .containerimg button {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  opacity:0;
  } 
  .containerimg:hover button {   
  opacity: 1;
  }


/*########## REGISTER, LOGIN AND USER SETTINGS PAGES ###############*/

/* General Settings for the forms */

.sign {
  padding-top: 40px;
  color:#ffffff;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 23px;
}
.un {
  width: 76%;
  color: rgb(210, 219, 224);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(243, 240, 240, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
}

.un:focus, .pass:focus {
  border: 2px solid rgba(0, 0, 0, 0.18) !important;
}

/* Register Page */
.mainwrapregister {
  background-color:#4a4c65b0;
  width: 400px;
  height: 400px;
  margin: 2em auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}
.registernowbtn {
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #424784b0, #5d62b1);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'Ubuntu', sans-serif;
  margin-left: 25%;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

/* Login Page */
.mainwraplogin {
  background-color:#4a4c65b0;
  width: 400px;
  height: 300px;
  margin: 2em auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}
.loginbtn {
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
    background: linear-gradient(to right, #424784b0, #5d62b1);
    border: 0;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 25%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}


/* Account Settings */
.mainwrap_account_settings {
  background-color:#4a4c65b0;
  width: 300px;
  height: 200px;
  margin: 2em auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.text_testing {
  color: inherit;
  text-decoration: none;
  color: white;
}
.text_testing:visited {
  color: white;
}

.list_style {
  list-style-type: none;
}

.buttons_account_settings {
  backface-visibility: hidden;
  background: var(--primary-color);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: 0.5rem 1.25rem;
  position: relative;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 20px;
}

.buttons_account_settings:disabled {
  color: #787878;
  cursor: auto;
}

.buttons_account_settings:not(:disabled):hover {
  transform: scale(1.05);
}

.buttons_account_settings:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.buttons_account_settings:focus {
  outline: 0 solid transparent;
}

.buttons_account_settings:focus:before {
  border-width: .125rem;
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.buttons_account_settings:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.buttons_account_settings:not(:disabled):active {
  transform: translateY(.125rem);
}


/* Update User */

.mainwrap_update_user {
  background-color:#4a4c65b0;
  width: 400px;
  height: 300px;
  margin: 2em auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}
.update_user_btn {
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
    background: linear-gradient(to right, #424784b0, #5d62b1);
    border: 0;
    padding-left: 40px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 25%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

/* Update Password */

.mainwrap_update_password {
  background-color:#4a4c65b0;
  width: 400px;
  height: 350px;
  margin: 2em auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}
.update_password_btn {
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
    background: linear-gradient(to right, #424784b0, #5d62b1);
    border: 0;
    padding-left: 40px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 25%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

/* Delete User Account */

.mainwrap_delete_user {
  background-color:#4a4c65b0;
  width: 400px;
  height: 350px;
  margin: 2em auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}
.delete_user_btn {
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
    background: linear-gradient(to right, #424784b0, #5d62b1);
    border: 0;
    padding-left: 40px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 25%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.warning_delete_user {
margin: 30px;
color: #fff;
border-color: rgb(184, 7, 7);
font-family: 'Ubuntu', sans-serif;
border-width: 5px;
border-style: solid;
}


/* 
---------------------------------------------
Banner
--------------------------------------------- 
*/

.main-banner {
  background-image: url(../images/thomas-william-4qGbMEZb56c-unsplash.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 380px;
  border-radius: 23px;
  padding: 80px 60px;
}

.main-banner h6 {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  /* margin-bottom: 25px; */
}

.main-banner h4 {
  font-size: 29px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.main-banner h4 em {
  font-style: normal;
  color: #22254b;
}

.page-content {
  margin-top: 18px ;
  margin-bottom: 15px;
  margin-left: 30px;
  margin-right: 30px;
  padding: 5px;
  border-radius: 10px;
}

.span-user-name {
  color: #22254b;
}